opencv_python_headless==4.5.4.58
joblib==0.14.1
scipy==1.5.4
pandas==1.1.5
matplotlib==3.3.4
numpy==1.13.3
tensorflow==2.5.3
xmltodict==0.12.0
psutil==5.9.0
scikit_learn==1.0.2
SimpleITK==2.1.1
sonnet==0.1.6
xlsxwriter==3.0.2
xlwt==1.3.0
